body {
  margin: 0;
  height: 100vh;
  background: pink;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
nav {
  position: relative;
  background: #fff;
  padding: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}
.btn-nav {
  cursor: pointer;
  height: 25px;
  width: 50px;
  font-weight: 600px;
  background: rgb(181, 3, 181);
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 0;
  transition: all 0.3s ease-in-out;
}
.btn-nav:hover {
  transform: scale(1.1);
}
.menu {
  display: none;
  position: absolute;
  right: 0;
  top: 60px;
  border-radius: 5px;
  height: 200px;
  width: 180px;
  background: white;
  color: rgb(181, 3, 181);
}
.menu li {
  list-style: none;
  padding: 0.4rem;
}
.menu li a {
  text-decoration: none;
  color: rgb(181, 3, 181);
}
.menu li:hover a {
  color: rgb(181, 3, 181);
  font-weight: 600;
}
@keyframes fadeFromRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(40px);
  }
}
